@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";



@theme {
  --color-primary: #1d4ed8;
  --color-primary-dull: #1d4ed8;
  --color-secondary: #37ff05;
}


* {
  /* font-family: "Hanson-bold", 'Montserrat'; */
  scrollbar-width: thin;
  scrollbar-color: #1d4ed8 #f3f4f6;
}


body {
  color: #2d5be3;
  background-color: #f5f7fa;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease-out both;
}